In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

* Nguyễn Văn Hoài Nam - 1712607
* Nguyễn Trọng Nghĩa - 1712615

In [168]:
df = pd.read_csv("2.19 Tỷ suất chết của trẻ em dưới 5 tuổi phân theo địa phương.csv",index_col = 0)
df

,CẢ NƯỚC,Đồng bằng sông Hồng,Hà Nội,Vĩnh Phúc,Bắc Ninh,Quảng Ninh,Hải Dương,Hải Phòng,Hưng Yên,Thái Bình,...,Trà Vinh,Vĩnh Long,Đồng Tháp,An Giang,Kiên Giang,Cần Thơ,Hậu Giang,Sóc Trăng,Bạc Liêu,Cà Mau
Năm,,,,,,,,,,,,,,,,,,,,,
2010,23.8,18.4,15.5,18.9,19.3,23.8,18.3,17.2,19.3,17.2,...,22.5,17.2,21.0,23.8,20.4,13.5,15.8,22.5,19.2,21.0
2012,23.2,18.4,15.7,20.6,20.6,24.0,18.5,19.1,19.5,16.4,...,19.3,16.3,18.7,22.9,19.4,14.8,15.8,20.8,19.4,17.8
2013,23.1,18.3,15.8,20.3,20.2,23.8,18.5,18.9,19.3,16.1,...,19.4,15.9,18.7,22.7,19.5,14.6,15.8,20.7,19.1,17.8
2014,22.4,17.7,15.2,19.7,19.6,23.0,17.8,18.3,18.6,15.6,...,18.7,15.4,18.1,21.9,18.8,14.1,15.3,20.0,18.5,17.2
2015,22.1,17.5,15.2,19.3,19.2,22.7,17.5,18.0,18.3,15.3,...,18.4,15.1,17.8,21.6,18.8,13.9,15.0,19.6,18.1,16.9
2016,21.8,17.1,14.9,19.0,18.9,22.3,17.2,17.6,18.0,15.1,...,18.1,14.8,17.4,21.2,18.5,13.6,14.8,19.3,17.8,16.6
2017,21.5,16.9,14.7,18.7,18.6,21.9,17.0,17.4,17.7,14.8,...,17.8,14.6,17.2,20.9,18.2,13.4,14.6,19.0,17.5,16.3
2018,21.4,16.8,14.6,18.6,18.5,21.8,16.8,17.3,17.6,14.8,...,17.7,14.5,17.1,20.7,18.1,13.4,14.5,18.9,17.4,16.2
2019,21.0,16.5,14.4,18.3,18.2,21.4,16.5,17.0,17.3,14.5,...,17.3,14.4,16.8,20.4,17.8,13.2,14.2,18.6,17.2,15.9

In [134]:
a = df.columns.values  # đầy đủ dư khoảng trắng , loại bỏ khoảng trắng ở columns để dễ sắp xếp
for i in range(len(a)):
    a[i]=a[i].strip()
df.columns = a

In [170]:
df = df.sort_index(ascending=True, axis=1) # 3 file có tên cột dữ liệu không đồng bộ , sắp xếp và thay thế bằng một bộ cột chung

In [154]:
df = df.drop("Hà Tây",axis = 1) # dưới 1 tuổi

In [172]:
df.columns = tempall # cho cột bằng một mảng cột chung

In [140]:
tempall = df.columns.values # lấy mảng cột chung ở file đầy đủ

In [173]:
df = df.T # hoán vị cột, index

In [174]:
df = df.reset_index()
df

Năm,index,2010,2012,2013,2014,2015,2016,2017,2018,2019
0,An Giang,23.8,22.9,22.7,21.9,21.6,21.2,20.9,20.7,20.4
1,Bà Rịa - Vũng Tàu,13.3,13.1,12.9,12.5,12.3,12.1,11.9,11.8,11.6
2,Bình Dương,13.5,14.1,14.1,13.6,13.4,13.3,13.1,13.0,14.1
3,Bình Phước,24.4,22.3,22.2,21.4,21.1,20.7,20.4,20.3,19.9
4,Bình Thuận,21.0,20.0,19.8,19.1,18.8,18.4,18.2,18.0,17.7
...,...,...,...,...,...,...,...,...,...,...
65,Đắk Nông,40.6,43.6,43.5,41.3,39.1,38.4,37.8,37.6,37.0
66,Đồng Nai,13.5,12.2,12.1,11.7,11.6,11.3,11.2,11.1,10.9
67,Đồng Tháp,21.0,18.7,18.7,18.1,17.8,17.4,17.2,17.1,16.8
68,Đồng bằng sông Cửu Long,18.9,18.0,17.9,17.4,17.0,16.7,16.4,16.3,15.9
69,Đồng bằng sông Hồng,18.4,18.4,18.3,17.7,17.5,17.1,16.9,16.8,16.5

In [175]:
ls = df.columns.values # đổi tên cột
ls[0] = "Khu vực"
df.columns = ls

In [176]:
df = df.melt( id_vars=["Khu vực"],var_name="Năm", value_name="Tỷ suất trẻ em chết dưới 5 tuổi")

In [177]:
df = df.replace("..",np.nan)  # thay thế giá trị ..

In [165]:
df = df.replace("'13'",13) # dưới 1 tuổi

In [162]:
df = df.astype({"Tỷ suất trẻ em chết dưới 1 tuổi":"float"}) # dưới 1 tuổi

In [109]:
for i in range(len(df)):
    if type(df.iloc[i,2]) != float:
        print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922

In [178]:
df.info() # kiểm tra thông tin dữ liệu

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 3 columns):
Khu vực                            630 non-null object
Năm                                630 non-null int64
Tỷ suất trẻ em chết dưới 5 tuổi    630 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 14.9+ KB

In [147]:
df.to_csv("Tỷ lệ trẻ em dưới một tuổi được tiêm chủng đầy đủ các loại vắc xin phân theo địa phương.csv") # lưu file

In [167]:
df.to_csv("Tỷ suất chết của trẻ em dưới 1 tuổi phân theo địa phương.csv")

In [179]:
df.to_csv("Tỷ suất chết của trẻ em dưới 5 tuổi phân theo địa phương.csv")

In [189]:
df2 = pd.read_csv("Tỷ suất chết của trẻ em dưới 5 tuổi phân theo địa phương.csv",index_col = 0)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 630 entries, 0 to 629
Data columns (total 3 columns):
Khu vực                            630 non-null object
Năm                                630 non-null int64
Tỷ suất trẻ em chết dưới 5 tuổi    630 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 19.7+ KB

In [190]:
df3 = pd.read_csv("Tỷ suất chết của trẻ em dưới 1 tuổi phân theo địa phương.csv",index_col = 0)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 910 entries, 0 to 909
Data columns (total 3 columns):
Khu vực                            910 non-null object
Năm                                910 non-null int64
Tỷ suất trẻ em chết dưới 1 tuổi    910 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.4+ KB

In [191]:
df1 = pd.read_csv("Tỷ lệ trẻ em dưới một tuổi được tiêm chủng đầy đủ các loại vắc xin phân theo địa phương.csv",index_col = 0)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560 entries, 0 to 559
Data columns (total 3 columns):
Khu vực                                       560 non-null object
Năm                                           560 non-null int64
Tỷ lệ trẻ em dưới 1 tuổi tiêm chủng đầy đủ    560 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 17.5+ KB

In [192]:
df1 = df1[df1["Năm"] > 2012]

In [193]:
df2 = df2[df2["Năm"] > 2012]

In [194]:
df3 = df3[df3["Năm"] > 2012]

In [197]:
a = set(df1["Khu vực"].values)
b = set(df3["Khu vực"].values)
c = set(df2["Khu vực"].values)

In [199]:
a== c # kiểm tra cột đồng bộ

True

In [200]:
df1 = df1.set_index(["Khu vực","Năm"])
df2 = df2.set_index(["Khu vực","Năm"])
df3 = df3.set_index(["Khu vực","Năm"])

In [204]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 490 entries, (An Giang, 2013) to (Đồng bằng sông Hồng, 2019)
Data columns (total 1 columns):
Tỷ lệ trẻ em dưới 1 tuổi tiêm chủng đầy đủ    490 non-null float64
dtypes: float64(1)
memory usage: 5.6+ KB

In [205]:
result2= df1.join(df2,how="left")

In [206]:
result2.shape

(490, 2)

In [209]:
results = result2.join(df3,how="left")

In [211]:
results.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 490 entries, (An Giang, 2013) to (Đồng bằng sông Hồng, 2019)
Data columns (total 3 columns):
Tỷ lệ trẻ em dưới 1 tuổi tiêm chủng đầy đủ    490 non-null float64
Tỷ suất trẻ em chết dưới 5 tuổi               490 non-null float64
Tỷ suất trẻ em chết dưới 1 tuổi               490 non-null float64
dtypes: float64(3)
memory usage: 33.2+ KB

In [212]:
results.to_csv("Tiêm chủng ở việt nam.csv")